# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Πανεπιστήμιο\Μαθήματα\4ο Εξάμηνο\Αλγόριθμοι\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
